@import "tailwindcss";

@theme {
  --color-ninja-red: #B70C10;
  --font-heading: "Inter", sans-serif;
}

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #F8FAFC;
    color: #0F172A;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background-color: #F8FAFC;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E2E8F0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CBD5E1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
